<div id="fb-root"></div>
<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=536756159749180";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

<div class="floating-menu" style="padding:8px;padding-left:0px;border-radius:6px;">
	<div class="fb-like"
		data-href="https://www.facebook.com/thetravelerbook"
		data-layout="box_count" data-action="like" data-show-faces="true"
		data-share="false"
		style="margin-left:12px;"></div>
	<br />
	<div style="margin-left:10px;align:center;">
	<div class="g-plusone" data-size="tall"
		data-href="http://thetravelerbook.appspot.com/" data-annotation="none" data-width="20"></div>
	<script type="text/javascript">
			(function() {
				var po = document.createElement('script');
				po.type = 'text/javascript';
				po.async = true;
				po.src = 'https://apis.google.com/js/platform.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(po, s);
			})();
		</script></div>
		<div style="margin-left:6px;padding-left:2px;">
		<a
		href="https://twitter.com/intent/tweet?text&hashtags=thetravelerbook,travel&text=The%20Traveler%20Book's%20Mission%20is%20to%20enable%20people%20to%20completely%20relive%20a%20journey%20and%20flaunt%20it%20the%20way%20they%20want%20to."
		class="twitter-share-button" data-lang="en" data-count="none">Tweet</a></div>
	<script>
			!function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (!d.getElementById(id)) {
					js = d.createElement(s);
					js.id = id;
					js.src = "https://platform.twitter.com/widgets.js";
					fjs.parentNode.insertBefore(js, fjs);
				}
			}(document, "script", "twitter-wjs");
		</script>
</div>
