<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>The TravelerBook</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?v=2">
<link href="/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="/css/index.css" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
		<script src="../assets/js/html5shiv.js"></script>
		<![endif]-->
<style>
.fb-button{
width: 294px;
height: 60px;
}
</style>
</head>

<body>
{% include "apps.html" %}
	<div class="container">
		<img src="/img/logo2.png" class="logo top-space">
		<div class="space"></div>
		<div class="box-holder">
			<div class="box-intro">Travel</div>
			<div class="box-intro">Organize</div>
			<div class="box-intro">Share</div>
		</div>
		<div style="clear: both"></div>
		<a href="/auth/google">
			<img src="/img/btn_google.png" class="logo top-space">
		</a>
		<!-- <a href="/auth/facebook">
			<img src="/img/btn_fb.png" class="logo  fb-button">
		</a> -->

		<div class="footer-home top-space">
			<ul>
				<li><a href="/">&copy; The Traveler Book 2013 | </a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/team"> - Team</a></li>
				<li><a href="/help"> - Help</a></li>
				<li><a href="/technology"> - Technology</a></li>
			</ul>
		</div>
	</div>
	
	<script src="/js/jquery-1.10.2.min.js"></script>
	<script src="/js/plugins.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script type="text/javascript" charset="utf-8">
		$(window).load(function() {
			$('.flexslider').flexslider();
		});
	</script>
</body>
</html>

