<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>The Traveler Book</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?v=2">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/index.css" />
<style type="text/css">
@font-face {
	font-family: customfont;
	src: url('/css/TravelingTypewriter.ttf');
}

body {
	padding-top: 35px;
	padding-bottom: 20px;
	height: 100%;
}

.fontface {
	font-family: customfont;
	font-size: 60px;
}

.container {
	
}

.container>hr {
	margin: 20px 0;
}

.textbottom {
	vertical-align: text-bottom;
}

.lefty {
	display: inline-block
}

.righty {
	display: inline-block;
	float: right
}

.carousel .item {
	height: 500px;
}

.carousel img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}

div.floating-menu {
	position: fixed;
	top: 200px;
	left: 0;
	width: auto;
	background-color: whitesmoke;
	border-radius: 0px;
	height: auto;
	padding: 10px;
	padding-left: 5px;
	z-index: 100;
	opacity: 1;
}

</style>

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
		<script src="../assets/js/html5shiv.js"></script>
		<![endif]-->

</head>

<body>

	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=536756159749180";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<div class="floating-menu">
		<div class="fb-like"
			data-href="https://www.facebook.com/thetravelerbook"
			data-layout="box_count" data-action="like" data-show-faces="true"
			data-share="false"></div>
		<br />

		<div class="g-plusone" data-size="tall"
			data-href="http://thetravelerbook.appspot.com/"></div>
		<script type="text/javascript">
			(function() {
				var po = document.createElement('script');
				po.type = 'text/javascript';
				po.async = true;
				po.src = 'https://apis.google.com/js/platform.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(po, s);
			})();
		</script>
		<br /> <a
			href="https://twitter.com/intent/tweet?text&hashtags=thetravelerbook,travel&text=The%20Traveler%20Book's%20Mission%20is%20to%20enable%20people%20to%20completely%20relive%20a%20journey%20and%20flaunt%20it%20the%20way%20they%20want%20to."
			class="twitter-share-button" data-lang="en" data-count="vertical">Tweet</a>
		<script>
			!function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (!d.getElementById(id)) {
					js = d.createElement(s);
					js.id = id;
					js.src = "https://platform.twitter.com/widgets.js";
					fjs.parentNode.insertBefore(js, fjs);
				}
			}(document, "script", "twitter-wjs");
		</script>
	</div>
	<div id="wrap">
		<div class="container">
			<div>
				<div class="lefty">
					<h1 class="fontface">The Traveler Book</h1>
				</div>
				<div class="righty">
					<a style="float: right" href="/auth/google"><img
						src="/img/btn_red.png" class="textbottom"></a>

				</div>

			</div>
			<hr style='margin-top: 0.5em' />

			<div class="carousel slide" id="carousel-id">
				<div class="carousel-inner">
					<div class="item active">
						<img src="/img/slide-01.jpg" alt="Antennae Galaxies" />
						<div class="carousel-caption">
							<p>Maybe its better to create your own Moment...</p>
						</div>
					</div>
					<div class="item">
						<img src="/img/trek.jpg" alt="Carina Caterpillar" />
						<div class="carousel-caption">
							<p>Don't Look Back, You're not going that WAY...</p>
						</div>
					</div>
					<div class="item">
						<img src="/img/kayak.jpg" alt="Light Echo" />
						<div class="carousel-caption">
							<p>Show me, Don't tell me !!</p>
						</div>
					</div>
					<div class="item">
						<img src="/img/food.jpg" alt="Light Echo" />
						<div class="carousel-caption">
							<p>Fell in Love with the local Cuisine? Tell you friends
								about it</p>
						</div>
					</div>
					<div class="item">
						<img src="/img/scene1.jpg" alt="Light Echo" />
						<div class="carousel-caption">
							<p>Share the biggest catch of your life...</p>
						</div>
					</div>
					<div class="item">
						<img src="/img/motorbike.jpg" alt="Light Echo" />
						<div class="carousel-caption">
							<p>Make a point, for all those who WANDER are not LOST</p>
						</div>
					</div>
				</div>
				<a class="carousel-control left" href="#carousel-id"
					data-slide="prev">&lsaquo;</a> <a class="carousel-control right"
					href="#carousel-id" data-slide="next">&rsaquo;</a>
			</div>
			<hr>

			<div id="push"></div>
		</div>
	</div>


	<div id="footer">
		<div class="container">
			<p class="muted credit"></p>
			<span style="float: right;"> <a href="/">TravelerBook</a>&nbsp;&nbsp;
				<a href="/about">About Us</a>&nbsp;&nbsp; <a href="/team">Team</a>&nbsp;&nbsp;
				<a href="/technology">Technology</a>&nbsp;&nbsp;
				<a href="/help">Help</a>&nbsp;&nbsp;
			</span> &copy; The Traveler Book 2013
		</div>
	</div>

</body>
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/carousel.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function() {
		$('.carousel').carousel({
			interval : 3000
		});
	});
</script>
</html>

