<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>Team TravelerBook</title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?v=2">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="/css/heroic-features.css" rel="stylesheet">
<link rel="stylesheet" href="/css/index.css" />
<style>
.imageClip {
	width: 300px;
	height: 200px;
	overflow: hidden;
}

html,body {
	height: 100%;
}

</style>
</head>

<body>
	<div id="wrap">
		<div class="container">

			<div class="jumbotron hero-unit">
				<h1>Meet Our Team...</h1>
				<p>We, a bunch of computer science undergrads at IIIT, Hyderabad
					believe its high time that the dread of sitting down, tweaking and
					sorting media after a trip was made history.We love solving solving
					real-life problems. The Traveler Book is just a manifestation of
					one such solution.</p>
			</div>

			<hr>

			<div class="row text-center">

				<div class="span4 hero-feature">
					<div class="thumbnail">
						<img class="" src="/img/pg.jpg" alt="">
						<div class="caption">
							<h3>Prashant Gupta</h3>
							<p>Co-Founder</p>
							<p>
								prashant.gupta169@gmail.com<br />+91-8886794153
							</p>
						</div>
					</div>
				</div>

				<div class="span4 hero-feature">
					<div class="thumbnail">
						<img class="" src="/img/kr.jpg" alt="">
						<div class="caption">
							<h3>Kumar Rishabh</h3>
							<p>Co-Founder</p>
							<p>
								shailrishabh@gmail.com<br />+91-8886476745
							</p>
						</div>
					</div>
				</div>

				<div class="span4 hero-feature">
					<div class="thumbnail">
						<img class="" src="/img/rrsj.jpg" alt="">
						<div class="caption">
							<h3>Rishi Raj Singh</h3>
							<p>Co-Founder</p>
							<p>
								rishiakhnoor@gmail.com<br />+91-9642429523
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->

			<div id="push"></div>
		</div>
		<!-- /.container -->
	</div>

	<div id="footer">
		<div class="container">
			<p class="muted credit"></p>
			<span style="float: right;"> <a href="/">TravelerBook</a>&nbsp;&nbsp;
				<a href="/about">About Us</a>&nbsp;&nbsp; <a href="/team">Team</a>&nbsp;&nbsp;
			</span> &copy; The Traveler Book 2013
		</div>
	</div>

</body>
<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</html>
